---
title: Introducing Czech-IT!
description: Linguistic corpus of native Czech learners acquiring Italian language
layout: none
---
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="initial-scale=1, shrink-to-fit=no, width=device-width" name="viewport">
  <!-- CSS -->
  <!-- Add Material font (Roboto) and Material icon as needed -->
  <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Add Material CSS, replace Bootstrap CSS -->
  <link href="/assets/css/material/css/material.min.css" rel="stylesheet">
  <!-- Additional CSS for documentation site -->
  <link href="/assets/css/material/bs/docs.min.css" rel="stylesheet">
  <link href="/assets/css/material/css/project.min.css" rel="stylesheet">
  <!-- Favicons -->
  <meta content="#9c27b0" name="theme-color">
  <link href="/assets/css/material/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180">
  <link href="/assets/css/material/favicon.ico" rel="icon">
    <style>
  * {font-family: "Lato"}
  </style>
</head>
<body class="doc-body">
  <header class="navbar navbar-dark toolbar-waterfall doc-navbar" id="doc_navbar">
  </header>
  <div class="jumbotron jumbotron-fluid mb-xl text-white doc-jumbotron" id="doc_index_jumbotron" style="background:#227799">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-sm-10 col-xl-6">
          <h1 class="typography-display-4">Czech-IT!</h1>
          <p class="font-weight-light typography-title">Linguistic corpus of native Czech learners acquiring Italian language</p>
          <p>
            <a class="btn btn-lg btn-secondary" data-toggle="modal" href="#doc_main">Browse the Corpus</a>
            <a class="btn btn-lg btn-light" href="/">Return to home</a>
          </p>
          <!--<p class="text-white-hint typography-caption">Currently v4.0.0-beta
            <br>(based on Bootstrap v4.0.0-beta)</p>-->
          <hr>
          <p class="text-right">
            <a class="btn btn-outline-light btn-sm" href="https://github.com/Czech-IT/Czech-IT.github.io" target="_blank">
              <i class="material-icons mr-sm">code</i>Fork on GitHub
            </a>
           <!--<a class="btn btn-outline-light btn-sm" href="http://www.daemon.com.au/" target="_blank">
              <i class="material-icons mr-sm text-danger">favorite</i>Made by Daemon
            </a>-->
          </p>
        </div>
      </div>
    </div>
  </div>
  <!--<div aria-hidden="true" aria-labelledby="doc_modal_download_label" class="modal fade" id="doc_modal_download" role="dialog" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="doc_modal_download_label">Download</h2>
          <button aria-label="Close" class="close" data-dismiss="modal" type="button">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Material v4.0.0-beta is available for download in several ways, including some of the favourite package managers.</p>
          <h3 class="mt-lg typography-body-2">Material CSS and JavaScript</h3>
          <p>
            <a href="https://github.com/Daemonite/assets/css/material/releases" target="_blank"><small class="align-text-top">
            <i class="material-icons">cloud_download</i></small> Download
          </a> Material's ready-to-use code to easily drop into any project. Includes compiled and minified versions of CSS and JavaScript plugins.
          </p>
          <h3 class="mt-lg typography-body-2">Package Managers</h3>
          <p>Pull in Material's source files with some of the most popular package managers.</p>
          <pre class="bg-light p-md">
<code>bower install daemonite-material#4.0.0-beta</code>
</pre>
          <pre class="bg-light p-md">
<code>npm install daemonite-material@4.0.0-beta</code>
</pre>
        </div>
      </div>
    </div>
  </div>-->
  <main class="doc-main" id="doc_main">
    <div class="container">
    <!--<input type="text" id="search" placeholder="  live search" class="form-control"></input>-->
      <table class="table  table-hover" id="tableCorpus">
      <thead>
    <tr>
      <th scope="col">Item</th>
      <th scope="col">Learner</th>
      <th scope="col">Content</th>
      <th scope="col">Type</th>
    </tr>
  </thead>
  <tbody>

    {{ content }}

    </tbody>
    </table>
    </div>
  </main>
  <!-- JavaScript -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
  <script src="/assets/css/material/bs/bootstrap.min.js"></script>
  <!-- Add Material JavaScript on top of Bootstrap JavaScript -->
  <script src="/assets/css/material/js/material.min.js"></script>
  <!-- Additional JavaScript for documentation site -->
  <script src="/assets/css/material/bs/docs.min.js"></script>
  <script src="/assets/css/material/js/project.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
<!--
  <script>
  $(document).ready(function() {
    $('#tableCorpus').DataTable();
} );
</script>
-->
<div class="container">
  <div class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
    <div class="row">
      <div class="col-sm-12">
        <input onchange="filterme()" type="checkbox" name="type" value="text-message|email|survey-message|audio">All
        <input onchange="filterme()" type="checkbox" name="type" value="text-message">Text-message
        <input onchange="filterme()" type="checkbox" name="type" value="email">Email
        <input onchange="filterme()" type="checkbox" name="type" value="survey-message">Surveys
        <input onchange="filterme()" type="checkbox" name="type" value="audio">Audio
      </div>
    </div>
  </div>
</div>

<script>
$(function() {
  otable = $('#tableCorpus').dataTable();
})

function filterme() {
  //build a regex filter string with an or(|) condition
  var types = $('input:checkbox[name="type"]:checked').map(function() {
    return '^' + this.value + '\$';
  }).get().join('|');
  //filter in column 3, with an regex, no smart filtering, no inputbox,not case sensitive
  otable.fnFilter(types, 3, true, false, false, false, false);

  //use radio values
  var frees = $('input:radio[name="free"]:checked')[0].value;
  //now filter in column 2, with no regex, no smart filtering, no inputbox,not case sensitive
  otable.fnFilter(frees, 2, false, false, false, false);
}
</script>
 <!-- <script>
  $("#search").keyup(function () {
    var value = this.value.toLowerCase().trim();

    $("table tr").each(function (index) {
        if (!index) return;
        $(this).find("td").each(function () {
            var id = $(this).text().toLowerCase().trim();
            var not_found = (id.indexOf(value) == -1);
            $(this).closest('tr').toggle(!not_found);
            return not_found;
        });
    });
});
</script>-->

</body>
</html>